<ion-modal-view id="modal-guide-info">
  <ion-content class="has-footer" scroll="false">
    <p class="text lake-text-color">
      This guide is evidence-based and uses mindfulness and mind-body
      approaches for ultimate helpfulness. This guide is designed to reduce
      intense emotions and address overwhelming thoughts.
      <br>
      <br>
      *Disclaimer:
      <br>
      This guide is curated by a licensed mental health professional
      but it’s not a substitute for therapy.
    </p>
  </ion-content>


  <ion-footer-bar class="bar bar-footer">
    <ion-pane>
      <button class="btn-cancel"
              ng-click="closeModal()">
        Close
      </button>
    </ion-pane>
  </ion-footer-bar>
</ion-modal-view>
