<ion-modal-view id="modal-guide-info">
  <ion-content class="has-footer" scroll="false">
    <p class="text ice-text-color">
      ‘Ice Diving’ works because we have what’s called the ‘Diving Reflex’
      that stimulates our vagus nerve and slows our heart rate to conserve energy.
      Ice diving is scientifically proven to slower heart rate and also helps us
      regulate out-of-control emotions.
    </p>
  </ion-content>


  <ion-footer-bar class="bar bar-footer">
    <ion-pane>
      <button class="btn-cancel"
              ng-click="closeModal()">
        Close
      </button>
    </ion-pane>
  </ion-footer-bar>
</ion-modal-view>
