#contactUs {
  text-align: center;
}

#contactUs h4 {
  margin: 2.4rem 1.6rem 0 1.6rem;
  color: rgba(0,0,0,0.8);
  text-align: left;
  font: 1.8rem/2.4rem ProximaNova-Regular, OpenSans, sans-serif;
  padding: 0 1rem;
}

#contactUs textarea {
  font: 1.6rem/2.4rem ProximaNova-Regular, OpenSans, sans-serif;
  background: rgba(0,0,0,0.04);
  border-radius: 0.2rem;
  display: inline-block;
  height: 40vh;
  width: calc(100% - 5.6rem);
  resize: none;
  margin-top: 1.6rem;
  padding: 1.6rem;
}

#contactUs button {
  background: #FF6A6A;
  color: #fff;
  margin-top: 2.4rem;
  border-radius: 0.2rem;
  border: none;
  padding: 0.8rem 3.2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
