ion-nav-bar.custom-style-sunshine ion-header-bar {
  /*background-color: rgba(253, 249, 231, 1) !important;*/
  background: transparent !important;
}

ion-nav-bar.custom-style-sunshine ion-header-bar .title {
  color: rgba(144, 126, 95, 1) !important;
}


#sunshine ion-content.has-not-header {
  top: 0 !important;
}

#sunshine ion-content.has-footer {
  bottom: 0;
}

#sunshine ion-content.slide-1 {
  background: url(../img/sunshine/sunshineHill-bg2.png) no-repeat 0px 90%;
  background-size: cover;
  text-align: center;
}

#sunshine ion-content.intro,
#sunshine ion-content.finish {
  background: url(../img/sunshine/sunshineHill-bg.png) no-repeat 0px 0px;
  background-size: cover;
  text-align: center;
}

#sunshine ion-content.meditation {
  background: url(../img/sunshine/sunshineHill-bg3.png) no-repeat 0px 55%;
  background-size: cover;
  text-align: center;
}

#sunshine ion-content.intro {
  top: 0 !important;
}

#sunshine ion-content {
  background: rgba(253, 249, 231, 1);
  text-align: center;
}

#sunshine ion-content > h1 {
  font-family: LondrinaSolid, sans-serif;
  font-size: 6.4rem;
  line-height: 7.2rem;
  font-weight: bold;
  margin: 12vh 0 0 0;
  color: rgb(144, 126, 95);
}

#sunshine ion-content > h4 {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: rgb(144, 126, 95);
  font-weight: bold;
  margin: 2.4rem 0 0 0;
}

#sunshine ion-content.intro .slider {
  margin-top: 2rem;
}

#sunshine ion-content.intro .slider .slider-slides {
  height: 14rem;
}

#sunshine ion-content.intro .slider .slider-slides .slide-content {
  color: rgb(144, 126, 95);
  font: 1.6rem/2.4rem ProximaNova-Regular, OpenSans, sans-serif;
  margin: 0 6%;
}

#sunshine ion-content.intro .slider .slider-pager .slider-pager-page {
  color: rgba(143, 126, 93, 0.5);
  font-size: 1.8rem;
  margin: 0 0.6rem;
}

#sunshine ion-content.intro .slider .slider-pager .slider-pager-page.active {
  color: rgba(143, 126, 93, 0.7);
}


#sunshine ion-footer-bar {
  border: none;
  background: none;
  height: 35%;
  padding: 0;
}

#sunshine ion-content .action-button,
#sunshine ion-footer-bar .action-button {
  border: none;
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.08);
  background: #FF7979;
  color: #fff;
  font: 1.6rem/2rem ProximaNova-Regular, OpenSans, sans-serif;
  padding: 1.6rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 64%;
  -webkit-transition: box-shadow 280ms ease, background 280ms ease, color 280ms ease;
          transition: box-shadow 280ms ease, background 280ms ease, color 280ms ease;
}

#sunshine ion-content .action-button:disabled ,
#sunshine ion-footer-bar .action-button:disabled {
  box-shadow: none;
  background: rgba(255, 107, 114, 0.88);
  color: rgba(255,255,255,0.56);
}

#sunshine ion-footer-bar .action-button {
  position: absolute;
  left: 20%;
  top: 0;
}

#sunshine ion-content .action-button {
  position: absolute;
  left: 18%;
  bottom: 12%;
}

#sunshine textarea {
  display: inline-block;
  margin-top: 40%;
  height: 27vh;
  width: 80%;
  text-align: center;
  background: none;
  border: none;
  border-radius: 0.2rem;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: rgb(144, 126, 95);
}

#sunshine .thought-limit {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 1.2rem;
  line-height: 2.4rem;
  font-weight: bold;
  color: #ADADAD;
  margin-right: 2.4rem;
  text-align: right;
  float: right;
}

#sunshine .thought-limit.danger {
  color: #FF6A6A !important;
}

textarea::-webkit-input-placeholder {
  color: rgba(144, 126, 95, 0.8);
}






/************************
  Guide slides
************************/

#sunshine ion-content.guide-slides {

}

#sunshine ion-content.guide-slides .slider {
  height: 100%;
}

#sunshine ion-content.guide-slides .slider ion-slide {
  padding: 5vh;
}

#sunshine ion-content.guide-slides .slider ion-slide h1 {
  color: #08a6b2;
  font-family: OpenSans-Bold, sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 4vh;
}

#sunshine ion-content.guide-slides .slider ion-slide img {
  height: 46vh;
}

#sunshine ion-content.guide-slides .slider ion-slide p {
  color: #08a6b2;
  font-family: OpenSans, sans-serif;
  font-size: 2rem;
  margin: 2.5rem 0 0 0;
  padding: 0 1rem;
}

#sunshine ion-content.guide-slides  .slider .slider-pager {
  bottom: 10%;
}

#sunshine ion-content.guide-slides  .slider .slider-pager .slider-pager-page {
  color: rgba(178, 213, 203, 1);
  font-size: 1.8rem;
  margin: 0 0.6rem;
}

#sunshine ion-content.guide-slides  .slider .slider-pager .slider-pager-page.active {
  color: rgba(111, 203, 208, 1);
}




#sunshine .tmplt-moodType {
  padding-top: 25%;
}

#sunshine .tmplt-moodIntense {
  padding-top: 25%;
}

#sunshine .tmplt-mood {
  padding-top: 4.8rem;
}

#sunshine .tmplt-mood button.action-button {
  background: #FF6A6A;
  color: #fff;
  border-radius: 0.2rem;
  border: none;
  font: 1.8rem/2.4rem ProximaNova-Semibold, OpenSans-Bold, sans-serif;
  padding: 1.6rem;
  width: calc(100% - 4rem);
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  /*bottom: 0.8rem;
  width: calc(100% - 0.8rem);
  left: 0.4rem;
  right: 0.4rem; */
  -webkit-box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.24);
          box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.24);
  -webkit-transition: box-shadow 280ms ease-out, background 280ms ease-out, color 280ms ease-out;
          transition: box-shadow 280ms ease-out, background 280ms ease-out, color 280ms ease-out;
}

#sunshine ion-content.finish h1 {
  margin-top: 27%;
}

#sunshine ion-content.meditation .med-message {
  display: block;
  margin: 19vh 0 4rem 0;
}

#sunshine ion-content.meditation .med-message > h2 {
  display: block;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 2.2rem;
  color: rgb(153, 126, 95);
  margin: 4rem;
}


#sunshine ion-content.meditation .button-and-loader {
  position: absolute;
  bottom: 6rem;
  left: calc(50% - 7.5rem);
  width: 15rem;
  height: 15rem;
  text-align: center;
}

#sunshine ion-content.meditation .button-and-loader .circle-button {
  display: inline-block;
  font-family: ProximaNova-Regular, OpenSans, sans-serif;
  font-size: 2.4rem;
  border: 0.4rem solid rgb(82, 136, 121);
  border-radius: 50%;
  width: 13rem;
  height: 13rem;
  background-color: rgb(130, 161, 114);
  color: #fff;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#sunshine ion-content.meditation .button-and-loader .circle-button .audio-spinner svg {
  width: 8.4rem;
  height: 8.4rem;
  stroke: #fff;
  fill: #fff;
  vertical-align: middle;
}

#sunshine ion-content.meditation .button-and-loader .loader .round-progress {
  width: 15rem !important;
  height: 15rem !important;
  padding: 1px !important;
}
/************************
  End Guide slides
************************/
